{{ define "index/index.tmpl" }}
<!DOCTYPE html>
<html>
<head>
  <title>{{.title}}</title>
  <meta charset="UTF-8">
	<link href="http://localhost:8080/public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="http://localhost:8080/public/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="favicon.ico">
  <script type="text/javascript">
  </script>
</head>
<body class="container">
	<h1>Hola mundo XD</h1>
	<input type="submit" name="login" class="btn btn-primary btn-block login-input" value="Acceder" id="btn-login">
	<i class="fa fa-user" aria-hidden="true"></i>
	<img src="http://localhost:8080/public/yo.jpeg" alt="Smiley face" height="42" width="42"> 
</body>
</html>
{{ end }}